html, body {
    width: 100%;
    height: 100%;
}
.bg-image {
    position: relative;
    text-align: center;
}
.pic1 {
    width: 100%;
}
.navigation {
    position: absolute;
    top: 5%;
    right: 15%;
}
.nav-ul {
    display: flex;
}
.nav-li {
    margin-right: 8%;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
}
.box2 {
    height: 20%;
    width: 40%;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -45%);
    color: #fff;
    font-size: 53px;
}