html, body {
    width: 100%;
    height: 100%;
}
.hero-image {
	position: absolute;
	background-image: url('../img/header.png');
	background-color:#D9F0FF;
	height: 900px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero-text {
	position: absolute;
	height: 20%;
    width: 40%;
	top: 50%
	left: 50%
	/*transform: translate(-50%, -50%);*/
	align: justify-content;
	color: #fff;
}
.d-flex {
	display: flex;
	justify-content: space-between;
}
.logo {
	width: 118px;
    position: absolute;
    top: 60px;
    left: 70px;
}
.navigation {
    position: absolute;
    top: 80px;
    right: 143px;
}
.nav-ul {
	display: flex;
}
.nav-li {
    margin-right: 50px;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
}
/*Section 1*/
.container1 {
    display: flex;
    justify-content: flex-end;
    height: 600px;
}
.left-box {
    width: 70%;
}
.title3 {
    font-size: 50px;
    padding: 10%;
}
.para2 {
    font-size: 16px;
    margin: 0% 10% 0% 10%;
}
.button-br {
    padding: 30px 50px;
    color: #fff;
    background-color: #325dff;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    margin-left: 60px;
    width: 307px;
    height: 72px;
}
.title2 {
    color: white;
    white-space: nowrap;
    margin: 5%;
}
	/*Section 1 - End*/
	/*Section 2*/
.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #FAFAFA;
}
.p-section2 {
	margin-top: 10px;
    font-size: 28px;
    text-align: center;
    line-height: 70px;
}
.para3 {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 10px;
    width: 770px;
}
	/*Section 2-3 - End*/
.bg {
    width: 100%;
    padding: 5%;
    background-color: #FAFAFA;
}
.div-text {
    width: 100%;
}
.div-h3 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.div-p {
    text-align: center;
}
.div-box3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    height: 375px;
    width: 370px;
    padding: 2%;
    box-shadow: 0px 0px 0px 0.2px #888888;
    margin-top: 30px;
}
.relative {
    position: relative;
}
.icon-button {
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    background-color: #325DFF;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}
.div-h5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.absolute {
    position: absolute;
}
.box-p {
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
    max-width: 200px;
    text-align: center;
}
.absolute {
    position: absolute;
}
.icon-button {
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    background-color: #325DFF;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}
.div-h5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.absolute {
    position: absolute;
}

    /*Section 2-3 - End*/


	/*Section 4*/
.section4-h5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 35px;
}
.section4-p {
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
    text-align: center;
    color: #fff;
}
	/*Section 4 - End*/

    /*Section 5*/
.section5 {
    width: 100%;
    padding: 5%;
}
.section5-h3 {
    font-size: 35px;
    text-align: center;
}
.section5-p {
    text-align: center;
    margin-top: 20px;
}
/*Section 6 - End*/

.section1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.text {
    padding: 15%;
}
.section1-h3 {
    font-size: 40px;
    margin-bottom: 40px;
}
.section1-p {
    font-size: 16px;
}
.section1-image {
    width: 50%;
    display: flex;
}
.button2 {
    top: 70%;
    left: 20%;
    transform: translate(-20%,-70%);
    width: 200px;
    height: 50px;
    background-color: #325DFF;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}
.section1-image {
    width: 50%;
    display: flex;
}
/*Section 6 - End*/
/*Footer*/

/*.container {
    display: flex;
    background-color: #325DFF;
    width: 100%;
    height: 50px;
}*/
.footer {
    width: 100%;
    height: 100px;
    background-color: #325DFF;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    color: #fff;
}
/*Footer - End*/